In [1]:
import pickle
import re
import pandas as pd
import nltk
import numpy as np
from nltk.corpus import stopwords
stop = stopwords.words("english")
from nltk.stem.porter import PorterStemmer
english_stemmer=nltk.stem.SnowballStemmer('english')

In [3]:
## taking the raw dataframe here

In [4]:
df = pd.read_csv("./shahidkapoor.csv")

In [5]:
df.head()

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1.338690e+18,1.338690e+18,1.608000e+12,12/15/2020 9:06,530,NaN,As we all fight through this pandemic. Let’s ...,en,['srivenkateswaracreations'],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1,1.338690e+18,1.338690e+18,1.608000e+12,12/15/2020 9:01,530,NaN,Telling stories that touch hearts and make a d...,en,['jersey'],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,2,1.338690e+18,1.338690e+18,1.608000e+12,12/15/2020 9:01,530,NaN,It’s a film wrap on #jersey.... 47 days of the...,en,['jersey'],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,3,1.327600e+18,1.327600e+18,1.605360e+12,11/14/2020 18:31,530,NaN,Wishing you all a happy and healthy Diwali. Le...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,4,1.320340e+18,1.320340e+18,1.603630e+12,10/25/2020 18:02,530,NaN,Wishing everyone a very happy dussehra . Love ...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [6]:
df = df['tweet']

In [9]:
df = pd.DataFrame(df)

In [15]:
def cleaning(tweet , remove_stopwords = True):
    text = re.sub("[^a-zA-Z]"," ", tweet)
    words =text.lower().split()
    
    if remove_stopwords:
        stops = set(stopwords.words("english"))
        words = [w for w in words if not w in stops]

    b=[]
    stemmer = english_stemmer 
    for word in words:
        b.append(stemmer.stem(word))

    
    return(b)

In [16]:
clean_Text = []
for review in df['tweet']:
    clean_Text.append( " ".join(cleaning(review)))

In [17]:
vectorizer = pickle.load(open("final_vectorizer.pkl" , "rb"))

In [18]:
kmeans = pickle.load(open("final_kmeans.pkl" , "rb"))

In [19]:
transformed_text = vectorizer.transform(clean_Text)

In [20]:
clusters = kmeans.predict(transformed_text)

In [21]:
unique, frequency = np.unique(clusters,return_counts = True
                             )

In [22]:
unique

array([0, 1, 2])

In [23]:
frequency

array([5593,  149,   64], dtype=int64)

In [24]:
output_dic = {}

In [27]:
output_dic['positive'] = frequency[1]
output_dic['neutral'] = frequency[0]
output_dic['negative'] = frequency[2]

In [28]:
output_dic

{'positive': 149, 'neutral': 5593, 'negative': 64}